<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Facstagram</title>
      <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-4049559801335182",
        enable_page_level_ads: true
      });
    </script>
       <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
      <link rel="stylesheet" href="/stylesheets/main.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
  </head>
  <body>
    
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/#">Factstagram</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/posts">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/posts">Newest <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/posts">Trending <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/posts">Most viewed <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/posts">Most commented <span class="sr-only"></span></a>
      </li>
    </ul>
    <form class="form-inline" action="/posts" method="GET">
      <input class="form-control" type="search" name="search" placeholder="Search for facts" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <% if(!currentUser){ %>
    <li class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a href="/login">Login</a></li>
    <li class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a class="btn btn-outline-danger" href="/register">Sign Up</a></li>
    <% } else { %>
    <li><a href="#"><%= currentUser.username %></a></li>
    <li><a href="/logout">Logout</a></li>
    <% } %>

  </div>
</nav>

  
  <div class="container">
     <% if(error && error.length > 0) { %>
       <div class="alert alert-danger"><p><%=error %></p></div>
     <% } %>
     
     <% if(success && success.length > 0) { %>
       <div class="alert alert-success"><p><%= success %></p></div>
     <% } %>
  </div>
  <div class="container">
