<% include ../partials/header %>
        <h1 style="text-align: center">Edit fact</h1>
        <div style="width: 40%; margin: 25px auto;">
        <form action="/posts/<%=post._id%>?_method=PUT" method="POST">
                <div class="form-group">
                    <label for="name">Title</label>
                    <input class="form-control" type="text" name="name" id="name" value="<%=post.name%>">
                </div>
                <div class="form-group">
                    <label for="image">Image Url</label>
                    <input class="form-control" type="text" name="image" id="image" value="<%=post.image%>" >
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input class="form-control" type="text" name="description" id="description" value="<%=post.description%>" >
                </div>
                <div class="form-group">
                    <label for="source">Source</label>
                    <input class="form-control" type="text" name="source" id="source" value="<%=post.source%>">
                </div>
                
                <div class="form-group">
                  <label for="daily life" class="btn btn-outline-secondary">
                    <input type="radio" name="type" id="daily life" value="Daily life" autocomplete="off"> Daily life
                  </label>
                  <label for="science" class="btn btn-outline-secondary">
                    <input type="radio" name="type" id="science" value="Science" autocomplete="off"> Science
                  </label>
                  <label for="health" class="btn btn-outline-secondary">
                    <input type="radio" name="type" id="health" value="Health" autocomplete="off"> Health
                  </label>
                   <label for="other" class="btn btn-outline-secondary">
                    <input type="radio" id="other">Other, please specify</label>
                   <input class="form-control otherTextBox" type="text" name="type" placeholder="Music, Movie, Cooking, etc." disabled>
                </div>
                 <div class="fact-myth form-group button-group">
                  <p>Is this a fact or a myth?</p>
          
                  <label for="fact" class="btn btn-outline-secondary">
                    <input type="radio" name="factOrMyth" id="fact" value="Fact" autocomplete="off"> Fact
                  </label>
                  <label for="myth" class="btn btn-outline-secondary">
                    <input type="radio" name="factOrMyth" id="myth" value="Myth" autocomplete="off"> Myth
                  </label>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Update</button>
                </div>
      
            </form>
            
            <a href="/posts">Go Back</a>
        </div>
    </div>
    
</div><!-- /.container -->
<footer class="footer">
    <div class="container">
        <p class="text-muted">&copy; Which is Which | <a href="/posts">Home</a> | <a href="/posts/new">New post</a></p>
    </div>
</footer>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script>/*global $*/

$("input[type='radio']").click(function(){
    $("input[type=radio]").parent().attr("class", "btn btn-outline-secondary")
    $(".otherTextBox").hide();
    $(".otherTextBox").prop("disabled", true);
    if($(this).is(":checked")){
        $(this).parent().attr("class", "btn btn-outline-success")
    }
});
$("label[for='other']").click(function(){
    $(".otherTextBox").show();
    $(":checked").prop("checked", false)
    $(".otherTextBox").prop("disabled", false)
})
</script>
</body>
</html>
<!-- TODO : Figuring out how to link multiple html files to one javascript file -->

