<% include ../partials/header %> 

     <header class="jumbotron">
         <div class="container">
            <% var href = stuff.url %>
            <% var currentURL = stuff.url.substr(stuff.url.indexOf('?search=')+8) %>
            <% if (currentURL.length<1 || currentURL == "Fact") {%>
                  <h1>Facts</h1>
             <% }else if(currentURL == "Myth"){ %>
             <h1> Myths</h1>
            <% }else{ %>
             <h1><%=currentURL.charAt(0).toUpperCase() + currentURL.slice(1)%></h1>
             <% } %>
            
            
             <p>All cool facts</p>
             <p>
                <a class="btn btn-outline-primary btn-lg" href="/posts/new">Add New Fact</a>
             </p>
         </div>
     </header>
     <% if (noMatch !==null){ %>
     <h3><%= noMatch %></h3>
     <% } %>
     <div class="text-center flex-wrap" id="post-grid">
        <% posts.forEach(function(post){ %>
            <div class="card" style="width: 17rem; height: 25rem">
                <div id ="flip<%=post._id%>" class ="flipper">
                    <div class="front">
                        <img class="card-img-top" src="<%= post.image %>">
                        <div class="card-body">
                                <h5 class="card-title"><%= post.name %></h5>
                                    <%if (post.type != null){ %>
                                    <% post.type.split(",").forEach(function(type){ %>
                                      <a href="/posts?search=<%=type.charAt(0).toUpperCase()+type.slice(1)%>" class="btn btn-outline-primary mb-2"><%=type.charAt(0).toUpperCase()+type.slice(1)%></a>
                                    <% })} %>
                                    <div>
                                    <Button class="btn btn-outline-success mb-2" id = "numFact<%=post._id%>" value ="numFact" onclick="updateVoteCount(this.value, this.id)">Fact</Button>
                                    <Button class="btn btn-outline-danger mb-2" id = "numMyth<%=post._id%>" value = "numMyth" onclick="updateVoteCount(this.value, this.id)">Myth</Button>
                                    </div>
                        </div>
                    </div>
                    <div class="back card-body">
                        <p class="card-text">THIS IS A TRUTH. 30% GOT THE SAME ANSWER</p>
                        <p><a href="/posts/<%= post._id %>" class="btn btn-info">Read more</a></p>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>


<% include ../partials/footer %>
