<% include ../partials/header %> 

     <header class="jumbotron">
         <div id="shitHole" class="container">
            <% var href = stuff.url %>
            <% var currentURL = stuff.url.substr(stuff.url.indexOf('?search=')+8) %>
            <% if (currentURL.length<1 || currentURL == "Fact") {%>
                  <h1>Facts</h1>
             <% }else if(currentURL == "Myth"){ %>
             <h1> Myths</h1>
            <% }else{ %>
             <h1><%=currentURL.charAt(0).toUpperCase() + currentURL.slice(1)%></h1>
             <% } %>
            
            
             <p>All cool facts</p>
             <p>
                <a class="btn btn-outline-primary btn-lg" href="/posts/new">Add New Fact</a>
             </p>
         </div>
     </header>
     <% if (noMatch !==null){ %>
     <h3><%= noMatch %></h3>
     <% } %>
     <div class="text-center flex-wrap" id="post-grid">
        <% posts.forEach(function(post){ %>
            <div class="card" style="width: 17rem; height: 25rem">
                <div id ="flip<%=post._id%>" class ="flipper">
                    <div id="front<%=post._id%>" class="front">
                        <img class="card-img-top" src="<%= post.image %>">
                        <div class="card-body">
                                <h5 class="card-title"><%= post.name %></h5>
                                    <%if (post.type != null){ %>
                                    <% post.type.split(",").forEach(function(type){ %>
                                      <a href="/posts?search=<%=type.charAt(0).toUpperCase()+type.slice(1)%>" class="btn btn-outline-primary mb-2"><%=type.charAt(0).toUpperCase()+type.slice(1)%></a>
                                    <% })} %>
                                    <div>
                                        <% var notVoted = true %>
                                        <%if (currentUser){ %>
                                        <%     for (var i = 0; i < currentUser.votedPosts.length; i++){ %>
                                        <%         if (currentUser.votedPosts[i].postId == post._id){ %>
                                        <%             notVoted = false; %>
                                        <div class="d-inline">You chose: <Button class ="btn btn-outline-secondary" disabled=""><%=currentUser.votedPosts[i].userChoice%></Button>
                                        <% if (currentUser.votedPosts[i].userChoice == post.factOrMyth){ %>
                                        <i class="fas fa-check">Correct</i>
                                        <% } else { %>
                                        <i class="fas fa-times">Incorrect</i><% }; %>
                                        <a href="/posts/<%= post._id %>" class="btn btn-info mt-2">Read more</a></div>
                                        <% };};} if (notVoted){ %>
                                        <Button class="btn btn-outline-success mb-2" id = "Fact<%=post._id%>" value ="Fact" onclick="updateVoteCount(this.value, this.id)">Fact</Button>
                                        <Button class="btn btn-outline-danger mb-2" id = "Myth<%=post._id%>" value = "Myth" onclick="updateVoteCount(this.value, this.id)">Myth</Button>
                                        <% } %>
                                    </div>
                                </div>
                        </div>
                    <div id="back<%=post._id%>" class="back card-body">
                        <% var total = post.numFact+post.numMyth %>
                        <h5 class="card-title"><%=post.name%></h5>
                        <h5 class="card-name">Total voters: <%=total%></h5>
                        <h5 class="card-name"><%=total == 0? 0:(post.numFact/total*100).toFixed(2)%>% think that this is a Fact</h5>
                        <h5 class="card-name"><%=total == 0? 0:(post.numMyth/total*100).toFixed(2)%>% think that this is a Myth</h5>
                        <p><a href="/posts/<%= post._id %>" class="btn btn-info">Read more</a></p>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>


<% include ../partials/footer %>
